.ng{

color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
max-width:125%;
max-height: 100%;
text-align: left;
height: 100vh;
justify-content: left;
margin-top : -17px ;
margin-left: -10px ;
display: flex;
border-radius: 20px;
position: absolute;


}

.Menu{margin-top: 20;
color: rgb(255, 255, 255);

}


li{
  margin-top: 50px;
  list-style:none;
  padding: 0;
  margin: 0;

}

a{
  text-decoration: none;
  display: block;
  padding: 10px 16px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 6px;
  border-left: 6px solid transparent;

}

a:hover{
  background-color: rgb(179, 9, 9);
  color: white;
  padding: 5px;
  border-radius: 5px;

}

a:focus{
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 5px;
  border-radius: 5px;

}

a:active{
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600 bold;

}
