.ng{
background: #000000;
font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
font-size: 40px;
max-width:30%;
max-height: 120%;
text-align: left;
height: 115vh;
justify-content: left;
margin-top :-80px;
margin-left:-10px;
margin-bottom: 20px;
display:flex;
border-radius: 10px;
position: fixed;
box-shadow: #000000 10px 10px 10px 10px;
}

.layout {
margin-top: 130px;
color: rgb(249, 255, 249);
text-align: left;
justify-content: left;
font-size: 30px;
}

h5{
margin-top: 50px;
padding: 0;
color: #747e9c;
}

li{
margin-top: 50px;
list-style:none;
padding: 0;
margin: 0;
color: aqua;
}

 a{
text-decoration: none;
display: block;
padding: 10px 16px;
transition: background-color 0.3s, color 0.3s;
border-radius: 6px;
border-left: 6px solid transparent;
color:whitesmoke;
font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
font-size: 20px;
 }

a:hover{


padding: 5px;
border-radius: 1px;
margin: 1px;
padding: 10px 15px;
text-align: center;
color: #747e9c;
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
}

.btn-grad:hover {
background-position: right center;
color: #fff;
text-decoration: blue;
}


a:focus{

color: #747e9c;
padding: 5px;
border-radius: 5px;

}




